<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= title %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %> <% if (page.url == "/") { %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
    <% } %>
  </head>

  <body class="antialiased w-full text-gray-900">
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative max-w-3xl px-4 mx-auto sm:px-6 xl:max-w-5xl xl:px-0 py-10 bg-white shadow-lg sm:rounded-3xl">
          <div class="lg:mx-12 sm:mx-1">
            <div class="divide-y divide-gray-200">
              <div class="py-8 text-base leading-6 space-y-4 text-gray-900 sm:text-lg sm:leading-7">
                
                <h1 class="underline text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:leading-14;  ">

                  <a href="#">
                  <svg style="float:left; margin-right: 20px;position: relative; top: 0px; " enable-background="new 0 0 64 64" height="64px" version="1.1" viewBox="0 0 64 64" width="64px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Layer_1"><g><circle cx="31.833" cy="32" fill="#77B3D4" r="32"/></g><g opacity="0.2"><path d="M52,48c0,1.105-0.895,2-2,2H14c-1.105,0-2-0.895-2-2l0,0c0-1.105,0.895-2,2-2h36    C51.105,46,52,46.895,52,48L52,48z" fill="#231F20"/></g><g><path d="M52,46c0,1.105-0.895,2-2,2H14c-1.105,0-2-0.895-2-2l0,0c0-1.105,0.895-2,2-2h36    C51.105,44,52,44.895,52,46L52,46z" fill="#E0995E"/></g><g><path d="M23,20h-4c-1.657,0-3,1.343-3,3v17v1v3h3h4h3v-3v-1V23C26,21.343,24.657,20,23,20z" fill="#C75C5C"/></g><g><path d="M45,16h-4c-1.657,0-3,1.343-3,3v21v1v3h3h4h3v-3v-1V19C48,17.343,46.657,16,45,16z" fill="#E0E0D1"/></g><g><rect fill="#E0995E" height="3" width="10" x="16" y="24"/></g><g><rect fill="#E0995E" height="3" width="10" x="16" y="37"/></g><g><rect fill="#FFFFFF" height="3" width="10" x="38" y="37"/></g><g><rect fill="#FFFFFF" height="3" width="10" x="38" y="20"/></g><g><g opacity="0.2"><path d="M40,40V16.184c-1.163,0.413-2,1.512-2,2.816v21v1v3h2v-3V40z" fill="#231F20"/></g><g opacity="0.2"><path d="M26,40V23c0-1.304-0.837-2.403-2-2.816V40v1v3h2v-3V40z" fill="#231F20"/></g></g><g><path d="M35,12h-6c-1.657,0-3,1.343-3,3v25v1v3h3h6h3v-3v-1V15C38,13.343,36.657,12,35,12z" fill="#4F5D73"/></g><g><rect fill="#76C2AF" height="3" width="12" x="26" y="16"/></g><g><rect fill="#76C2AF" height="3" width="12" x="26" y="37"/></g></g><g id="Layer_2"/></svg>

 Welcome to Library Phil  </a> </h1>
                  
                <p>Welcome! I'm Phil (Philip Andrew) and website explores the intersection between Libraries and Technology.<br />
                  Try my <a href="#">Marc21 encoder tool &rarr;</a> to convert from a book entry to the Marc21 format.
                </p>
                <%- content %>
              </div>
              <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7">
                <p>Wish to contact me?</p>
                <p>
                  <a href="#" class="text-cyan-600 hover:text-cyan-700"> Email &rarr; </a>
                  <a href="#" class="text-cyan-600 hover:text-cyan-700"> Twitter &rarr; </a>
                  <a href="#" class="text-cyan-600 hover:text-cyan-700"> Facebook &rarr; </a>
                  <a href="#" class="text-cyan-600 hover:text-cyan-700"> Youtube &rarr; </a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>


    <!--
    <div class="max-w-screen-md mx-auto">
      <div class="border-b border-gray-300">
        <div class="pt-16 pb-8">
          <h1 class="font-semibold text-3xl text-gray-800"><%= site.title %></h1>
          <div class="text-xl"><%= site.description %></div>
        </div>
        <nav>
          <ul class="flex flex-wrap text-xl">
            <li class="mr-6">
              <a class="text-gray-700 border-none hover:no-underline hover:text-gray-800" href="/"
                >Home</a
              >
            </li>
            <li class="mr-6">
              <a
                class="text-gray-700 border-none hover:no-underline hover:text-gray-800"
                href="https://github.com/ixartz/Eleventy-Starter-Boilerplate"
              >
                GitHub
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="text-xl py-5"><%- content %></div>

      <div class="border-t border-gray-300 text-center py-8">
        Made with <span role="img" aria-label="Love">♥</span> by
        <a href="https://creativedesignsguru.com">CreativeDesignsGuru</a>
      </div>
    </div>
  -->



</body>
</html>
